/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: 1.5;
  text-decoration: none;

  font-family: Roboto;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* Variables */
:root {
  /* colors */
  --color-canvas: #f3f4f6;
  --color-canvas-darker: #e2e8f0;
  --color-canvas-lighter: #ffffff;

  --color-text-co: #030712;

  --color-primary: #0092b8;
  --color-primary-lighter: #00b8db;
  --color-primary-darker: #007595;

  /* spacing */
  --half-padding: calc(var(--default-padding) / 2);
  --default-padding: 1rem;
  --double-padding: calc(var(--default-padding) * 2);

  /* style */
  --default-border-radius: 10px;
  --default-box-shadow: 2.5px 2.5px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Basic Styles */
#root {
  min-width: 320px;
  width: 100vw;
  min-height: 100lvh;

  color: var(--color-text-co);
  background-color: var(--color-canvas);
}
b {
  font-weight: bold;
}
svg {
  --size: 1em;
  height: var(--size);
  width: var(--size);

  fill: var(--color-text-co);
}
